/* for Tailwind Css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  ---  */

/* body{
  background-color: rgb(16, 11, 26);
} */

.article-card {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.prose{
  
  max-width: 100% !important;
}
@layer components {
  img{
    @apply mx-auto my-6 sm:my-8 
  }
  .prose img {
    @apply rounded-md
  }
  pre {
    @apply bg-slate-800 text-white my-2
    whitespace-pre-wrap;
  }

  quote {
    @apply text-gray-400 font-normal;
  }

  iframe {
    @apply mx-auto w-full aspect-video h-auto rounded-md;
  }
  
}
